.hero {
  background-image: url("../images/hero-image.png");; /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero-content {
  position: relative;
  z-index: 1; /* Ensure text is above the overlay */
}
