body{
    margin: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* background color */
.bg-sunglow{
    background-color: hwb(48 20% 1%);
}

.bg-scarlet{
    background-color: #Ff1300;
}

.bg-tuna{
    background-color: rgb(48, 47, 56) !important;
}

/* text color */
.text-tuna{
    color: rgb(48, 47, 56);
}

.text-white{
    color: white;
}

/* font-size */
.small{
    font-size: small;
}

.extra-small{
    font-size: x-small;
}




/* padding */
.padding-1{
    padding: 10px;
 }

/* nav */


button{
    transition: none;
}

.btn.bg-scarlet.text-white.view-more-btn.my-4


.btn.text-white.bg-scarlet.fw-semibold:active, .btn.text-white.bg-scarlet.fw-semibold:focus{
    background-color: #Ff1300;
    outline: none;
    border-color: #ff1300;
} 

.btn.bg-scarlet.text-white.py-2.px-4:active, .btn.bg-scarlet.text-white.py-2.px-4:focus{
    background-color: #Ff1300;
    border-color: #ff1300;
    outline: none;
}

.btn.bg-scarlet.text-white.col-12.p-3:active, .btn.bg-scarlet.text-white.col-12.p-3:focus{
    background-color: #ff6200;
    border-color: #fb291a;
    outline: none;
}

.btn.bg-scarlet.text-white.col-12.p-3:hover{
    background-color: #ff6200;
}

.btn.bg-scarlet.text-white.py-2.px-4:hover {
    background-color: #ff6200;
}

.btn.text-white.bg-scarlet.fw-semibold:hover, .btn.bg-scarlet.text-white.view-more-btn.my-4:hover{
    background-color: #ff6200;
}



.navbar-collapse{
    background-color: #3e4149;
    

}

.offcanvas-header.d-flex.justify-content-end{
    display: none !important;
}
.btn.fs-6.text-white.bg-scarlet.fw-semibold.ms-2.py-1.px-3{
    display: flex;
    justify-self: end !important;
}



@media(max-width: 576px){
    .navbar-nav.ms-2.ms-lg-5{
        align-self: start !important;
    }
    .btn.fs-6.text-white.bg-scarlet.fw-semibold.ms-2{
        width: 50%;
        padding-left: 0 !important;
        font-size: 1rem;
    }
}

@media(max-width: 991px){
    .offcanvas{
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        height: 100vh;
        z-index: 10000;
        display: flex;
        align-items: flex-start;
    }
    .navbar-nav.ms-2.ms-lg-5{
        width: 50%;
        align-self: center;
    }
    .offcanvas-header.d-flex.justify-content-end{
        display: flex !important;
    }
    .btn.fs-6.text-white.bg-scarlet.fw-semibold.ms-2{
        width: 75% !important;
        font-size: 2rem !important;
    }
    .nav-link.fs-6.fw-bold.text-tuna.mx-lg-2.mx-sm-auto{
        color: rgb(213, 213, 213) !important;
        font-size: large !important;
    }
}

/* BANNER */

.banner {
    background-image: url('./images/lines.jpg'); 
    object-fit: scale-down;
    object-position: center;
    resize: horizontal;
    color: #fff;
    text-align: center;
    padding: 100px 30px; 
}

/* Filters & Cards */

@media(min-width: 576px){
    .filter-coding.bg-tuna.text-white.fw-bold.d-flex.justify-content-between.p-3.border-bottom.border-top{
        border-top: none !important;
        border-bottom: none !important;
        border-left: 1px solid #3e4149 ;
        border-right: 1px solid #3e4149 ;

    }
    

}


input[type="checkbox"]{
    visibility: hidden;
}


.filter-coding, .filter-marketing, .filter-design,.fs-5.col-10{
    cursor: pointer;
}

.filter-marketing.active{
    background-color: rgb(235, 59, 59) !important; 
    color: black !important; 
  }

  .filter-design.active{
    background-color: rgb(235, 59, 59) !important; 
    color: rgba(48,47,56,255) !important; 
  }

  .filter-coding.active{
    background-color: rgb(235, 59, 59) !important; 
    color: rgba(48,47,56,255) !important; 
  }

  .fa-solid{
    color: rgba(48,47,56,255);
  }


/* Style for the checkbox when checked */

.outer{
    margin-top: 120px;
}

.h-200{
    height: 180px !important;
}

.card:hover{
    cursor: pointer;
    transform:translateY(-10px);
    transition: 0.3s ease-in-out;
}

.card{
    transition: 0.3s ease-in-out;
}

/* Form */

@media (max-width: 767px){
    .student-types{
        margin-bottom: 150px !important;
    }
}
@media (min-width: 767px){
    form{
        margin-bottom: 220px;
    }
    .names, .contacts, .submit{
        margin-bottom: 30px;
    }
}


.button{
    text-align: center;
}

.form{
    display: flex;
    
}

.form .inner{

    flex-shrink: 0;
    flex-grow: 1;
}

.names, .contacts, .submit{
    display: flex;
    flex-direction: column;
}

.name input[type="text"] {
    color: #000; /* Set the color for the input text */
    font-weight: bold; /* Set the font weight for the input text */
    font-style: normal;
}

/* Style for the input placeholder */
.name input[type="text"]::placeholder {
    color: #808080; /* Set the color for the placeholder text */
    font-style: italic; /* Set the font style for the placeholder text */
    font-weight: bold; /* Set the font weight for the placeholder text */
}

.contact input[type="email"] {
    color: #000; /* Set the color for the input text */
    font-weight: bold; /* Set the font weight for the input text */
    font-style: normal;
}

/* Style for the input placeholder */
.contact input[type="tel"]::placeholder {
    color: #808080; /* Set the color for the placeholder text */
    font-style: italic; /* Set the font style for the placeholder text */
    font-weight: bold; /* Set the font weight for the placeholder text */
}

.error-message {
    color: red;
  }

  .form-container {
    max-width: 100%; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form container horizontally */
}